* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(43, 42, 42);
    /* height: 100vh; Esta línea podría estar causando el problema, considera removerla o ajustarla */
    color: #333; 
    /* margin-bottom: 100px; Esto también podría estar contribuyendo al problema, ajústalo según sea necesario */
}

header {
    background: linear-gradient(135deg, #485563, #29323c);
    color: white;
    text-align: center;
    padding: 15px 0;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

h1 {
    font-size: 2.5em; /* Tamaño de fuente para el encabezado */
}

p {
    font-size: 12px;
    color: #666;
}

.container {
    display: flex;
    justify-content: center;
    align-items: start;
    padding: 20px;
}


.tool-panel {
    position: fixed; 
    top: 90px; 
    right: 20px; 
    max-width: 20%;
    max-height: 90%;
    overflow-y: auto; 
    z-index: 3;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    max-width: 20%;
}

#toolPanel.minimized {
    width: 25px; 
    height: 25px; 
    opacity: 0.5;
    overflow: hidden; 
}

#Painter {
    background-color: white;
    color: #333;
    padding: 5px 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#Painter input[type="color"] {
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px;
    transition: border-color 0.3s ease;

    /* Estilos para quitar el aspecto predeterminado en algunos navegadores */
    -webkit-appearance: none;
    appearance: none;
}

#Painter input[type="color"]:hover {
    border-color: #4CAF50; /* Cambia el color del borde al pasar el ratón */
}

#Painter input[type="color"]:focus {
    outline: none;
    border-color: #367c39; /* Cambia el color del borde al hacer clic */
}

#uploadedIcons .uploaded-icon {
    width: 45px;
    height: 45px;
    cursor: pointer;
    margin: 5px;
    border-radius: 4px;
    transition: transform 0.3s ease;
}

#uploadedIcons .uploaded-icon:hover {
    transform: scale(1.1);
}


#Selector {
    background-color: white;
    color: #333;
    padding: 5px 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#categorySelector {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

#UploadMaps {
    width: 90%;
    padding: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); 
    cursor: pointer;

}

#IconUploader {
    width: 90%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); 
    cursor: pointer;
}

#fileSelector {
    width: 90%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);;
    cursor: pointer;
}

select:hover {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

#TroopsContainer {
    background-color: white;
    color: #333;
    padding: 5px 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

#icons {
    max-height: 150px;
    overflow-y: auto; /* Habilita el desplazamiento vertical si el contenido excede la altura máxima */
    /* Mantén los otros estilos que ya tienes para #icons */
}


/* Estilos para los iconos */
#icons img {
    cursor: pointer;
    margin: 5px;
    width: 35px;
    height: 35px;
    border-radius: 4px;
    transition: transform 0.3s ease;
}

#icons img:hover {
    transform: scale(1.1);
}

#tierSelector {
    font-size: 15px;
}

/* Estilos para los botones y controles */
input[type="color"], input[type="file"], button, select {
    margin: 10px;
    height: 30px;
    vertical-align: middle;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
}

button {
    border: 1px solid #ccc; /* Añadir borde */
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #367c39;
}

/* Estilos para los iconos y textos seleccionados */
.selected {
    border: 2px solid green;
}

/* Estilos para el control deslizante */
input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    height: 8px;
    border-radius: 5px;
    background: #ddd;
    outline: none;
    opacity: 0.7;
    transition: opacity .2s;
}

button.active {
    background-color: blue; /* Color más oscuro para el estado activo */
    color: white;
    border-color: #2a5a28; /* Borde de color diferente para el estado activo */
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

/* Estilos para los iconos de texto */
#text-icons-container {
    margin-top: 20px;
}

.text-icon {
    display: inline-block;
    margin: 5px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    background-color: #f9f9f9; /* Fondo ligero para los iconos de texto */
}

#text-input-section {
    background-color: white;
    color: #333;
    padding: 5px 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#minimizeButton {
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 5px;
}

.canvas-container {
    display: none;
    position: relative;
    flex-grow: 1;
    margin-bottom: 50px;
    z-index: 1;
}

#imageCanvas, #Board {
    position: absolute;
    max-width: 100%;
    top: 0;
    left: 0;
    border: 1px solid #ccc;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px; /* Bordes redondeados */
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
} 

.initial-message {
    font-size: 30px;
    position: absolute; /* O usa 'relative' según tus necesidades */
    left: 10px; /* Alinea a la izquierda */
    top: 50%; /* Centra verticalmente */
    transform: translateY(-50%); /* Ajuste fino para centrar verticalmente */
    border-radius: 10px; /* Bordes redondeados */
    background-color: #f0f0f0; /* Color de fondo */
    padding: 20px; /* Espaciado interno */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra opcional */
    max-width: 600px; /* Ancho máximo */
}

.initial-message h2 {
    margin-bottom: 10px; /* Espacio entre título y texto */
    /* Estilos adicionales para el título según sea necesario */
}

.initial-message p {
    font-size: 16px;
}