@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

/*GENERAL*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(43, 42, 42);
    /* height: 100vh; Esta línea podría estar causando el problema, considera removerla o ajustarla */
    color: #333; 
    /* margin-bottom: 100px; Esto también podría estar contribuyendo al problema, ajústalo según sea necesario */
}

h1 {
    font-size: 2.5em; /* Tamaño de fuente para el encabezado */
}

p {
    font-size: 12px;
    color: #666;
}

button {
    border: 1px solid #ccc; /* Añadir borde */
    background-color: #4CAF50;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/*HEADER*/
header {
    background-color: #1a1a1a; /* Mismo color de fondo que el footer */
    color: #4CAF50;
    text-align: center;
    padding: 20px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Sombra sutil para profundidad */
    font-size: 24px; /* Tamaño de fuente más grande para el título */
    font-weight: 500; /* Peso de la fuente para el título */
}

header a {
    color: #4CAF50; /* Color de enlace que armoniza con el footer */
    text-decoration: none;
    transition: color 0.3s ease;
}

header a:hover {
    color: #f0f0f0; /* Cambio de color al pasar el ratón */
}

header h1 {
    margin: 0; /* Asegura que no hay margen extra */
}


/*BODY*/
.container {
    display: flex;
    justify-content: center;
    align-items: start;
    padding: 20px;
    margin-bottom: 50px;
}

/*ToolPanel*/
#toolPanel {
    position: fixed; 
    top: 20px; 
    right: 20px; 
    width: 22%;
    overflow-y: auto; 
    z-index: 3;
    background-color: #1a1a1a;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}


#toolPanel.minimized {
    width: 25px; 
    height: 25px; 
    opacity: 0.5;
    overflow: hidden; 
}

/*Minimizer*/
#minimizeButton {
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 5px;
}

/*Map*/
#MapTypeSelector {
    display: flex; 
    align-items: center;
}

/*Painter*/
#Painter {
    background-color: white;
    color: #333;
    padding: 5px 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#Painter input[type="color"] {
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px;
    transition: border-color 0.3s ease;

    /* Estilos para quitar el aspecto predeterminado en algunos navegadores */
    -webkit-appearance: none;
    appearance: none;
}

#Painter input[type="color"]:hover {
    border-color: #4CAF50; /* Cambia el color del borde al pasar el ratón */
}

#Painter input[type="color"]:focus {
    outline: none;
    border-color: #367c39; /* Cambia el color del borde al hacer clic */
}

/*Icons*/
#uploadedIcons .uploaded-icon {
    width: 35px;
    height: 35px;
    cursor: pointer;
    margin: 5px;
    border-radius: 4px;
    transition: transform 0.3s ease;
}

#uploadedIcons .uploaded-icon:hover {
    transform: scale(1.1);
}

#Selector {
    background-color: white;
    color: #333;
    padding: 5px 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#categorySelector {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}



#IconUploader {
    width: 90%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); 
    cursor: pointer;
}

#fileSelector {
    width: 90%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);;
    cursor: pointer;
}

select:hover {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

#TroopsContainer {
    background-color: white;
    color: #333;
    padding: 5px 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

#icons {
    max-height: 150px;
    overflow-y: auto; /* Habilita el desplazamiento vertical si el contenido excede la altura máxima */
    /* Mantén los otros estilos que ya tienes para #icons */
}


/* Estilos para los iconos */
#icons img {
    cursor: pointer;
    margin: 5px;
    width: 35px;
    height: 35px;
    border-radius: 4px;
    transition: transform 0.3s ease;
}

#icons img:hover {
    transform: scale(1.1);
}

#tierSelector {
    font-size: 15px;
}

/* Estilos para los botones y controles */
input[type="color"], input[type="file"], button, select {
    margin: 10px;
    height: 30px;
    vertical-align: middle;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
}



/* Estilos para los iconos y textos seleccionados */
.selected {
    border: 3px solid green;
}

/* Estilos para el control deslizante */
input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    height: 8px;
    border-radius: 5px;
    background: #ddd;
    outline: none;
    opacity: 0.7;
    transition: opacity .2s;
}

button.active {
    background-color: blue; /* Color más oscuro para el estado activo */
    color: white;
    border-color: #2a5a28; /* Borde de color diferente para el estado activo */
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

/* Estilos para los iconos de texto */
#text-icons-container {
    margin-top: 20px;
}

.text-icon {
    display: inline-block;
    margin: 5px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    background-color: #f9f9f9; /* Fondo ligero para los iconos de texto */
}

.text-icon.selected {
    border: 2px solid green; /* Grosor, estilo y color del borde */
    padding: 2px; /* Espaciado interno para que el texto no esté demasiado apretado */
    margin: 2px; /* Espacio alrededor del texto para visualizar mejor el borde */
    display: inline-block; /* Asegúrate de que se aplique el padding y el border */
}


#text-input-section {
    background-color: white;
    color: #333;
    padding: 5px 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}



.canvas-container {
    display: none;
    position: relative;
    flex-grow: 1;
    margin-bottom: 50px;
    z-index: 1;
}

#imageCanvas, #Board {
    max-height: calc(100vh - 50px); /* 50px es el espacio deseado */
    position: absolute;
    max-width: 100%;
    top: 0;
    left: 0;
    border: 1px solid #ccc;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px; /* Bordes redondeados */
}

#initialMessage {
    position: absolute; /* O usa 'relative' según tus necesidades */
    left: 10px; /* Alinea a la izquierda */
    top: 5%; /* Centra verticalmente */
    border-radius: 10px; /* Bordes redondeados */
    background-color: #1a1a1a; /* Color de fondo */

    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra opcional */
    max-width: 600px; /* Ancho máximo */
    height: 100%;
}

#initialMessage h2 {
    color: rgba(255, 255, 255, 0.685);
    margin-bottom: 10px; /* Espacio entre título y texto */
    font-size: 50px;
    /* Estilos adicionales para el título según sea necesario */
}

#initialMessage h3 {
    color: rgba(255, 255, 255, 0.685);
    margin-bottom: 10px; /* Espacio entre título y texto */
    font-size: 30px;
    /* Estilos adicionales para el título según sea necesario */
}

#initialMessage p {
    color: rgba(255, 255, 255, 0.685);
    font-size: 16px;
}


/*FOOTER*/
footer {
    background-color: #1a1a1a; /* Color de fondo oscuro para un look elegante */
    color: #f0f0f0; /* Contraste claro para el texto */
    text-align: center;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 14px;
    border-top: 4px solid #4CAF50; /* Una línea delgada para agregar un toque de color */
}

footer a {
    color: #4CAF50; /* Color de enlace que se destaca */
    text-decoration: none;
    transition: color 0.3s ease;
}

footer a:hover {
    color: #f0f0f0; /* Cambio de color al pasar el ratón */
}

footer p {
    margin: 5px 0; /* Espaciado uniforme para el texto */
}

